
nav { 
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.navGroup1{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.navGroup2{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

nav a:hover {
    color: rgb(254, 94, 94);
}

nav li:hover {
    animation: pulse;
    animation-duration: 2s;
}

@media (max-width: 480px){
    #navLinks{
        flex-direction: column;
        align-items: center;
    }
    .navGroup1{
        justify-content: space-between;
    }
    .navGroup2{
        justify-content: space-between;
    }
}

#navLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin:0;
}

#navLinks li {
    display: inline-block;
}