@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(indexMedia/intro.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

footer {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 7rem;
}

.redes {
    color: white;
}

footer span,
footer a,
footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.bodyMenu {
    background-image: url(fondoMenu.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

@media (max-width:480px){
    .bodyMenu{
        background-size: auto 100%;
    }
}
#fondoMenu {
    filter: brightness(8%);
}

li,
a,
.precio {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 16 px;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 130px;
    text-align: center;
    color: rgb(218, 214, 214);
    text-shadow: -2px 2px rgb(73, 56, 56);
    margin: 0%;
}

@media (max-width: 480px){
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 2.5em !important;
    }
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 60px;
    color: rgb(218, 214, 214);
    text-shadow: -2px 2px rgb(73, 56, 56);
    margin-top: 32px;
}

h4,
h5,
h6 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0%;
}

.introMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(218, 214, 214);
}


.introMenu p {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}

.separador {
    height: 100px;
}

.menuContainer {
    padding: 0 30%;
}
@media (max-width:480px){
    .menuContainer{
        padding: 0 5%;
    }
}
@media (max-width:768px){
    #formulario{
        padding: 0 5% !important;
    }
}
.menuEncabezado {
    margin: 0%;
    border-bottom: 2px solid #ccc;
}

.menuGroup li {
    font-size: 24px;
    color: rgb(228, 69, 69);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}


span {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: rgb(228, 69, 69);
}

#formulario {
    padding: 0 30%;
    display: flex;
    flex-direction: column;
}

.bodyContact h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px rgb(73, 56, 56);
}

.bodyContact h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px rgb(73, 56, 56);
}

#formulario label {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: -2px 2px rgb(73, 56, 56);
}

#formulario input {
    background: transparent;
    font-size: 1em;
    border: 0cm;
    border-bottom: 2px solid #ccc;
    margin: 10px;
    color: white;
}

#formulario button{
    width: 100px;
}

.aboutMain {
    margin-top: 2em;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.aboutText {
    width: 700px;

}

.aboutMain img {
    height: auto;
    width: 500px;
}

.aboutText p {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 1px;
    font-size: 1.2em;
    color: white;
    text-align: justify;
}

@media (max-width:480px){
    .aboutMain iframe{
        width: 300px;
        height: 300px;
    }
}

.aboutMain iframe{
    width: 600px;
    height: 300px;
}

button{
  border: none;
  padding: 15px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}